@CHARSET "UTF-8";

.sky-form .rating {
	font-size: 15px;
	color: #404040;
}
.sky-form .rating:last-child {
	margin-bottom: 0;
}
.sky-form .rating input {
	position: absolute;
	left: -9999px;
}
.sky-form .rating label {
	display: block;
	float: left;
	height: -4px;
	cursor: pointer;
}
.rating {
	margin: 12px 0 0 0em;
}

.sky-form [class^="icon-"] {
	display: block;
    width: 18px;
    height: 18px;
    background: url(../images/star.png) 0 -3px;
    float:left;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  -webkit-font-smoothing: antialiased;
}